<!DOCTYPE html>
<html>
  <head>
    <title>Delete Content</title>
    <%- include("component/head",{scriptFile}) %>
  </head>
  <body>
    <%- include('header'); %>
    
    <main>
      <h2>Delete response</h2>
      <section id="deleted_rec_containar">
        <h4><%= response?.movie?.Title.slice(0,30) %></h4>
        <h5 id="img_dlt_resp"></h5>
        <h5><%= response?.error %></h5>
      </section>
    </main>
    
  </body>
  <script type="module">
    import { delete_images } from "/js/delete_con.js"
    
    function setDeleteMessage(e){
      document.querySelector("#img_dlt_resp").innerText = e
    }
    
    try{
     const imageIds = <%- JSON.stringify(response?.movie?.UploadedImageIds) %> 
     delete_images( imageIds, 0, setDeleteMessage )
    }catch(e){
      console.log(e)
    }
    
  </script>
</html>